@font-face{
	font-family: 'PF Agora Slab Pro';
	src: local('css/pfagoraslabpro-thin.ttf');
}
.statistic{
	background-color:#e0e0e0;
	color: #000000;
	padding: 0px 0 0px;
	overflow: hidden;
    margin: 20px 0;
}
.statistic-header {
	border-bottom: 3px solid #D5D5D5;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.in-auction-button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; /* Размер шрифта в пунктах */
	padding: 5px;
	margin-top: -25px;
	position: relative;
	z-index:30;
}
.static-numbers{
	margin: 15px;
    text-align: right;
}
.single-auction-form{
	border-radius: 5px;
	border: 3px solid #a1a1a8;
	margin: 0px;
	padding: 0px;
}
.single-auction	{
	/*margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;*/
	padding: 0px 0px 20px 0px;
	text-align: center;
	position: relative;
	background-size: cover;
	background-color:#e0e0e0;
	color: #000000

}
.description{
	border-top: 1px solid #a1a1a8;
}
.lot-parametrs{
	border-top: 1px solid #a1a1a8;
}
.single-auction-form p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; /* Размер шрифта в пунктах */
}
.service-bar{
    border-bottom: 3px solid #fff;
}
.service-bar a {
	color: inherit;
}
@media (max-width: 979px) {
	/* line 1, ../../sass/components/_servicebar.scss */
	.service-bar {
		display: none;
	}
}
.auction-detail p {
	/*margin: 10px auto;*/
	margin: 0;
}

.inactive-auction {
opacity: .65;
}

.inactive-auction a {
cursor: not-allowed;
pointer-events: none;
opacity: .65;
}

.carousel-picture {
width: 300px;
height: 300px;
overflow: hidden;
}

#bid-form {
margin-bottom: 50px;
margin-top: 50px;
}

#buy-button {
display: inline-block;
margin-top: 50px;
}

#bid-value {
width: 100px;
display: inline-block;
}

.carousel-control.left, .carousel-control.right {
background-image: none;
}

.service-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 14px;
	background-color: #006699;
	color: #ffffff;
	padding: 5px 0;
	z-index: 10001;
	font-family: 'PF Agora Slab Pro','Centro Slab',sans-serif
}


.my-container{
margin-top: 70px;
}

.separated {
	position: relative;
	z-index: 29 !important;
	background-image: url("/img/footerbg.png");
	background-position: left bottom;
    padding: 0px 20px 5px 15px;
	color: #ffffff;
	margin: 20px 0;
	overflow: hidden;
}

